<nav class="bs-sidenav" role="nav">
    <div class="title">JULIE OPPERMANN</div>
    <ul class="navbar nav fixed" id="sidebar" bs-scrollspy-list>
        <li data-target="#SoloExhibitions" >
            <a href="#SoloExhibitions">Exhibitions</a>
            <ul class="nav">
                <li ng-repeat="exhibition in soloExhibitions | orderBy: 'order' : false" data-target="#{{exhibition.key}}" bs-scrollspy>
                    <a href="#{{exhibition.key}}">{{exhibition.title}}</a>
                </li>
            </ul>
        </li>
        <li data-target="#Installations">
            <a href="#Installations">Installations</a>
            <ul class="nav">
                <li ng-repeat="installation in installations" data-target="#{{installation.key}}" bs-scrollspy>
                    <a href="#{{installation.key}}">{{installation.title}}</a>
                </li>
            </ul>
        </li>
        <li data-target="#VideoProjects" bs-scrollspy-list>
            <a href="#VideoProjects">Videos</a>
            <ul class="nav">
                <li data-target="#video1" >
                    <a href="#video1">Untitled 01</a>
                </li>
                 <li data-target="#video2" >
                    <a href="#video2">Untitled 02</a>
                </li>
                 <li data-target="#video3" >
                    <a href="#video3">Untitled 03</a>
                </li>
                 <li data-target="#video4" >
                    <a href="#video4">Untitled 04</a>
                </li>
                 <li data-target="#video5" >
                    <a href="#video5">Untitled (2014)</a>
                </li>
            </ul>
        </li>

         <li data-target="#CV" >
            <a href="#CV">CV</a>
        </li>
        <li data-target="#News" >
            <a href="#News">News</a>
        </li>

    </ul>


</nav>
