<div class="bs-sidenav" id="navspy" role="nav">
    <div class="title">JULIE OPPERMANN</div>
    <ul class="navbar nav">
        <li>
            <a href="#SoloExhibitions">Exhibitions</a>
            <ul class="nav">
                <li ng-repeat="exhibition in soloExhibitions">
                    <a href="#{{exhibition.key}}">{{exhibition.title}}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#Installations">Installations</a>
            <ul class="nav">
                <li ng-repeat="installation in installations">
                    <a href="#{{installation.key}}">{{installation.title}}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#VideoProjects">Videos</a>
            <ul class="nav">
                <li ng-repeat="video in videos">
                    <a href="#{{video.key}}">{{video.title}}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#Info">Info</a>
            <ul class="nav">
                <li>
                    <a href="#CV">CV</a>
                </li>
                <li>
                    <a href="#News">News</a>
                </li>
            </ul>
        </li>
        <!-- <li>
            <a href="#CV">CV</a>
        </li>
        <li>
            <a href="#News">News</a>
        </li> -->
    </ul>
</div>



