#home {
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}
.group2{
  margin-bottom: 0;
  padding-top: 5%;
  margin-top: 0;
  background-color: red;
}
.group {
    background: none;
    margin-left: none;
    padding-top: none;
    padding-left: none;
    margin-top: 2%;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    h3 {
      color: silver;
      font-size: 2em;
      margin-bottom: -2%;
      border-bottom: 1px solid #D3D3D3;
      padding-bottom: 1%;
      padding-top: 1%;
      margin-left: 2%;
      padding-left: 2%;
      background-color: white;
      width: 95%;
    }
    h2 {
      color: silver;
      font-size: 1.5em;
      font-weight: 100;
      border-top: 1px solid #D3D3D3;
      /*border-bottom: 1px solid silver;*/
      margin-top: none;
      margin-bottom: -1%;
      padding-bottom: 0;
      padding-top: 2%;
      margin-left: 2%;
      padding-left: 2%;
      background-color: white;
      width: 95%;
    }


}

.group .subgroup {
	padding-top: 2%;
	margin-left: 2%;
  margin-bottom: 0;
  margin-top: none;
  background: white;
  width: 95%;
  height: 100%;
  display: block;
  img {
    padding-top: none;
    padding-bottom: 5%;
    max-width: 95%;
    max-height: 800px;
    display: block;
    margin: auto;
  }


  span {
    padding-left: 10%;
    padding-top: 20%;
    padding-right: 5%;
    padding-bottom: 20%;
  /*  margin-bottom: 10%;*/

  }
  h2 {
      color: silver;
      font-size: 1.5em;
      font-weight: 100;
      /*border-bottom: 1px solid silver;*/
      margin-bottom: none;
      padding-bottom: 1%;
      padding-top: 1%;
      margin-left: 2%;
      padding-left: 0;
      background-color: white;
      width: 95%;
    }
  .imagecaption{
    padding-bottom: none;
    margin: 0 auto;
    /*letter-spacing: 0.1em;*/
    /*margin-left: 3%;
    width: 95%;*/
    color: silver;
    background-color: none;
    text-align: center;

  }

}

.group .subgroup-cv {

  padding-top: 4%;
  padding-left: 20%;
  margin-left: 2%;
  margin-top: 2%;
  background: white;
  width: 95%;
  height: 100%;
  display: block;

  span {
    margin-top: 4%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
  }

}

.group .subgroup2 {
  width: 95%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 2%;
  margin-bottom: 5%;
  background-color: white;
  display: block;
  img {
    padding-top: none;
    padding-bottom: 5%;
    max-width: 95%;
    display: block;
    margin: auto;
  }
  .imagecaption{
    padding-bottom: none;
    margin: 0 auto;
    /*letter-spacing: 0.1em;*/
    /*margin-left: 3%;
    width: 95%;*/
    color: silver;
    background-color: none;
    text-align: center;

  }


}

.group .subgroup2 iframe {

  margin: auto;
  background-color: white;
  display: block;

}

.group .subgroup3 {
  width: 95%;
  height: 80%;
  margin-left: 2%;
  margin-bottom: 5%;
  background-color: white;
  display: block;

}

.group .subgroup4 {
  width: 95%;
  height: 400px;
  margin-left: 2%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-top: 5%;
  background-color: white;
  display: block;

}



/*@mixin box-sizing( $type: border-box ) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
         -o-box-sizing: $type;
        -ms-box-sizing: $type;
            box-sizing: $type;
}

div {
  box-sizing: border-box;
}*/



