<div class="col-md-2 hidden-sm hidden-xs"><navbar></navbar></div>
<div class="col-xs-12 col-sm-12 hidden-md hidden-lg"><navbar2></navbar2></div>

<div class="col-xs-12 col-md-10">
    <section id="SoloExhibitions" class="group">
        <h3>Exhibitions</h3>
        <div ng-repeat="exhibition in soloExhibitions" id="{{exhibition.key}}"><h2>{{exhibition.title}}</h2>
            <div ng-repeat="image in exhibition.images" class="subgroup" >
                <div class="imagecaption">
                {{exhibition.title}}, {{exhibition.caption}}
                </div>
                <img ng-src="{{image}}"/>
            </div>
        </div>
    </section>

    <section id="Installations" class="group">
        <h3>Installations</h3>
        <div ng-repeat="installation in installations" id="{{installation.key}}"><h2>{{installation.title}}</h2>
            <div ng-repeat="image in installation.images" class="subgroup">
                <div class="imagecaption">
                {{installation.title}}, {{installation.caption}}
                </div>
                <img ng-src="{{image}}"/>
            </div>
        </div>
    </section>

    <section id="VideoProjects" class="group">
        <h3>Video Projects</h3>
        <div ng-repeat="video in videos" id="{{video.key}}" class="videoContainer"><h2>{{video.title}}</h2>
            <div ng-repeat="image in video.images" class="subgroup">
                <div class="imagecaption">
                {{video.title}}, {{video.caption}}
                </div>
                <div style="width: 100%; padding: 2%">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{image}}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Info" class="group">
        <h3>Info</h3>
        <div id="CV">
            <h2>CV</h2>
            <div class="subgroup2">
                <div class="section-header">SOLO EXHIBITIONS</div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2018</span>
                    <span class="col-xs-8 col-sm-4">AFTERIMAGE</span>
                    <span class="col-xs-12 col-sm-6">Janelia Research Campus (HHMI), Ashburn VA</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2015</span>
                    <span class="col-xs-8 col-sm-4">CROSSED SIGNALS</span>
                    <span class="col-xs-12 col-sm-6">Keith, Berlin Neukölln</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2015</span>
                    <span class="col-xs-8 col-sm-4">COUNTERPOINT</span>
                    <span class="col-xs-12 col-sm-6">Mark Moore Gallery, Culver City, CA</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2014</span>
                    <span class="col-xs-8 col-sm-4">RASTER</span>
                    <span class="col-xs-12 col-sm-6">Galerie Stefan Roepke, Cologne</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2014</span>
                    <span class="col-xs-8 col-sm-4">PALINOPSIA</span>
                    <span class="col-xs-12 col-sm-6">Joshua Liner Gallery, NY</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2013</span>
                    <span class="col-xs-8 col-sm-4">INTERFACE</span>
                    <span class="col-xs-12 col-sm-6">Galeria Arnes y Roepke, Madrid</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2013</span>
                    <span class="col-xs-8 col-sm-4">PROJECT ROOM</span>
                    <span class="col-xs-12 col-sm-6">Mark Moore Gallery, Culver City, CA</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2012</span>
                    <span class="col-xs-8 col-sm-4">JULIE OPPERMANN</span>
                    <span class="col-xs-12 col-sm-6">Galerie Stefan Roepke, Cologne</span>
                </div>

                <div class="section-header">GROUP EXHIBITIONS</div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2018</span>
                    <span class="col-xs-8 col-sm-4">VIRTUAL GARDEN</span>
                    <span class="col-xs-12 col-sm-6">Mediations Biennale 6, Poznan, Poland</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2018</span>
                    <span class="col-xs-8 col-sm-4">JULIE OPPERMANN & DANIEL LERGON</span>
                    <span class="col-xs-12 col-sm-6">Kunsthalle Faust, Hannover</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2018</span>
                    <span class="col-xs-8 col-sm-4">PLURAL</span>
                    <span class="col-xs-12 col-sm-6">Marjorie Barrick Museum at UNLV, Las Vegas</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2016</span>
                    <span class="col-xs-8 col-sm-4">SUCKSTRACT 3</span>
                    <span class="col-xs-12 col-sm-6">Kunstverein Konstanz, DE</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2015</span>
                    <span class="col-xs-8 col-sm-4">-NDO</span>
                    <span class="col-xs-12 col-sm-6">Museum Jorge Rando, Malaga</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2015</span>
                    <span class="col-xs-8 col-sm-4">JANUARY</span>
                    <span class="col-xs-12 col-sm-6">Mixed Greens Gallery, NY</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2014</span>
                    <span class="col-xs-8 col-sm-4">SAME SPACE, NEW LIGHT</span>
                    <span class="col-xs-12 col-sm-6">JB Magazine Group Show, HVW8 Berlin</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2014</span>
                    <span class="col-xs-8 col-sm-4">TILE</span>
                    <span class="col-xs-12 col-sm-6">Curated by Stefan Koehler, Bethanien Projektraum, Berlin</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2018</span>
                    <span class="col-xs-8 col-sm-4">THE BERLIN ART PRIZE</span>
                    <span class="col-xs-12 col-sm-6">The Kuehlhaus am Gleisdreieck, Berlin</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2016</span>
                    <span class="col-xs-8 col-sm-4">SUCKSTRACT 2</span>
                    <span class="col-xs-12 col-sm-6">Galerie der Stadt Remscheid, Remscheid</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2014</span>
                    <span class="col-xs-8 col-sm-4">DER GRUND IST NICHT LICHT...</span>
                    <span class="col-xs-12 col-sm-6">Galerie Christian Ehrentraut, Berlin</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2014</span>
                    <span class="col-xs-8 col-sm-4">SORRY WE ATE YOUR BRAINS</span>
                    <span class="col-xs-12 col-sm-6">Club Motobol, Berlin Neukölln</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2013</span>
                    <span class="col-xs-8 col-sm-4">SUCKSTRACT</span>
                    <span class="col-xs-12 col-sm-6">Kunstquartier Bethanien Projektraum, Berlin</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2013</span>
                    <span class="col-xs-8 col-sm-4">THRILLS AND CHILLS</span>
                    <span class="col-xs-12 col-sm-6">Christina Androulidaki Gallery, Athens</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2013</span>
                    <span class="col-xs-8 col-sm-4">MEDUSA CARAVAGE SALON</span>
                    <span class="col-xs-12 col-sm-6">Gilles Balmet Collection, Nouvelles Vagues, Dominique Fiat, Paris</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2013</span>
                    <span class="col-xs-8 col-sm-4">RITUALS OF EXHIBITION</span>
                    <span class="col-xs-12 col-sm-6">Curated by Gilbert Hsiao and Giles Ryder, Phayao Thailand</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2013</span>
                    <span class="col-xs-8 col-sm-4">LOGICAL EXPRESSIONS & VARIATIONS</span>
                    <span class="col-xs-12 col-sm-6">Margaret Thatcher Projects, NY</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2012</span>
                    <span class="col-xs-8 col-sm-4">MFA THESIS EXHIBITION</span>
                    <span class="col-xs-12 col-sm-6">Hunter College Times Square Gallery, NY</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2012</span>
                    <span class="col-xs-8 col-sm-4">KUNST/WISSENSCHAFT</span>
                    <span class="col-xs-12 col-sm-6">Galerie Stefan Roepke, Cologne</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2012</span>
                    <span class="col-xs-8 col-sm-4">Bednarek, Oppermann, Waskiewisz</span>
                    <span class="col-xs-12 col-sm-6">Schroeder Romero and Shredder, NY</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2012</span>
                    <span class="col-xs-8 col-sm-4">BOUNDLESS AMBITION</span>
                    <span class="col-xs-12 col-sm-6">Thompson Gallery, Weston, MA</span></div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2011</span>
                    <span class="col-xs-8 col-sm-4">PLAY IT AGAIN</span>
                    <span class="col-xs-12 col-sm-6">ACE Curatorial Collective, Times Square Gallery, NY</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2011</span>
                    <span class="col-xs-8 col-sm-4">R.Gross, J.Rondo, J.Oppermann</span>
                    <span class="col-xs-12 col-sm-6">Galerie Stefan Roepke, Cologne, Germany</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2011</span>
                    <span class="col-xs-8 col-sm-4">CAA NY Area MFA Exhibition.</span>
                    <span class="col-xs-12 col-sm-6">Hunter College Times Square Gallery, NY</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2011</span>
                    <span class="col-xs-8 col-sm-4">GRAPHOMANIA PDX</span>
                    <span class="col-xs-12 col-sm-6">Garbageman/Astronaut Project Space, Portland, OR</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2010</span>
                    <span class="col-xs-8 col-sm-4">HELL, NO!</span>
                    <span class="col-xs-12 col-sm-6">Curated by David Fierman & RJ Supa, Convent of St. Cecilia, NY</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2013</span>
                    <span class="col-xs-8 col-sm-4">THRILLS AND CHILLS</span>
                    <span class="col-xs-12 col-sm-6">Christina Androulidaki Gallery, Athens</span>
                </div>

                <div class="section-header">PUBLICATIONS & PRESS</div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2018</span>
                    <span class="col-xs-8 col-sm-4">Neuroscience, Art Come Together in Barrick Museum Exhibit</span>
                    <span class="col-xs-12 col-sm-6">Alisha Kerlin with Rochelle and Dustin Hines</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2014</span>
                    <span class="col-xs-8 col-sm-4">JB Magazine Issue #03, Interview</span>
                    <span class="col-xs-12 col-sm-6">Grabowski, Jenne and Natalija Miletic, Berlin, 2014.</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2014</span>
                    <span class="col-xs-8 col-sm-4">The Berlin Art Prize 2014 Catalog. </span>
                    <span class="col-xs-12 col-sm-6">Revolver Publishing, Berlin ISBN 978-3-95763-105-3</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2014</span>
                    <span class="col-xs-8 col-sm-4">Juxtapoz Magazine Interview</span>
                    <span class="col-xs-12 col-sm-6">David Molesky in conversation with Julie Oppermann</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2014</span>
                    <span class="col-xs-8 col-sm-4">Lobotom #001 Fanzine</span>
                    <span class="col-xs-12 col-sm-6">Bornstueck, Fritz & Caroline Schmidt, Motobol, Berlin.</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2013</span>
                    <span class="col-xs-8 col-sm-4">Art-Rated Interview</span>
                    <span class="col-xs-12 col-sm-6">Sarah Elise Hall interviews Julie Oppermann</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2013</span>
                    <span class="col-xs-8 col-sm-4">LA Times Review</span>
                    <span class="col-xs-12 col-sm-6">Julie Oppermann’s paintings land with a gut punch, by David Pagel</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2012</span>
                    <span class="col-xs-8 col-sm-4">New American Paintings</span>
                    <span class="col-xs-12 col-sm-6">Issue 98</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2011</span>
                    <span class="col-xs-8 col-sm-4">New American Paintings</span>
                    <span class="col-xs-12 col-sm-6">Issue 93 MFA Annual</span>
                </div>

                <div class="section-header">SPEAKING ENGAGEMENTS</div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2018</span>
                    <span class="col-xs-8 col-sm-4">Art & Science of Color Theory</span>
                    <span class="col-xs-12 col-sm-6">Marjorie Barrick Museum at University of Las Vegas, NV</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2015</span>
                    <span class="col-xs-8 col-sm-4">Artist’s Talk</span>
                    <span class="col-xs-12 col-sm-6">Weisman Museum at Pepperdine University, Malibu CA</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2012</span>
                    <span class="col-xs-8 col-sm-4">Artist’s Talk</span>
                    <span class="col-xs-12 col-sm-6">Residencia Artistica FAAP, Sao Paulo, Brazil</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2012</span>
                    <span class="col-xs-8 col-sm-4">Boundless Ambition Lecture Series</span>
                    <span class="col-xs-12 col-sm-6">The Cambridge School of Weston</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2012</span>
                    <span class="col-xs-8 col-sm-4">Focus and Motivation Lecture Series</span>
                    <span class="col-xs-12 col-sm-6">Hunter College Department of Art</span>
                </div>

                <div class="section-header">RESIDENCIES</div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2015</span>
                    <span class="col-xs-8 col-sm-4">Artist in residence</span>
                    <span class="col-xs-12 col-sm-6">Eastside International ESXLA, Los Angeles, CA</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2013</span>
                    <span class="col-xs-8 col-sm-4">Artist in residence</span>
                    <span class="col-xs-12 col-sm-6">r/e projects, Madrid</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2012</span>
                    <span class="col-xs-8 col-sm-4">Exchange Scholarship</span>
                    <span class="col-xs-12 col-sm-6">Universitaet der Kuenste, Berlin, Germany</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2012</span>
                    <span class="col-xs-8 col-sm-4">Artist in residence</span>
                    <span class="col-xs-12 col-sm-6">Fundacao Armando Alvarez Penteado (FAAP), Sao Paulo, Brazil</span>
                </div>

                <div class="section-header">EDUCATION</div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2012</span>
                    <span class="col-xs-8 col-sm-4">MFA Painting</span>
                    <span class="col-xs-12 col-sm-6">Hunter College, NY</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2009</span>
                    <span class="col-xs-8 col-sm-4">MA Neuroscience</span>
                    <span class="col-xs-12 col-sm-6">University of California, Berkeley</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2007</span>
                    <span class="col-xs-8 col-sm-4">BA Biology</span>
                    <span class="col-xs-12 col-sm-6">Hunter College, NY</span>
                </div>
                <div class="row">
                    <span class="col-xs-4 col-sm-2">2004</span>
                    <span class="col-xs-8 col-sm-4">BFA</span>
                    <span class="col-xs-12 col-sm-6">Cooper Union School of Art, NY</span>
                </div>

                <div class="section-header">COLLECTIONS</div>
                <div class="row">
                    <span class="col-xs-12">Museum of Contemporary Art, San Diego</span>
                </div>
                <div class="row">
                    <span class="col-xs-12">Museum of Fine Arts Houston</span>
                </div>
                <div class="row">
                    <span class="col-xs-12">Sammlung Alison und Peter Klein, KUNSTWERK</span>
                </div>
                <div class="row">
                    <span class="col-xs-12">Collecion Jimenez - Colon</span>
                </div>
                <div class="row">
                    <span class="col-xs-12">Marjorie Barrick Museum, Las Vegas</span>
                </div>
            </div>
        </div>
        <div id="News" class="group">
            <h2>News</h2>
            <div class="subgroup">
                <span><strong>Virtual Garden</strong> Mediations Poznan Biennale 6, Poznan, Pl October, 2018.</span><br><br>
                <span><strong>Julie Oppermann & Daniel Lergon</strong> Kunsthalle Faust, Hannover August 31, 2018</span><br><br>
                <span><strong>Afterimage</strong> Janelia Research Campus, Ashburn VA April - June 2018.</span><br><br>
                <span><strong>Plural</strong> Marjorie Barrick Museum UNLV, Las Vegas Feb. 2 - May 12, 2018.</span><br><br>
            </div>
        </div>
    </section>
</div>
