<div class="col-md-2 hidden-sm hidden-xs"><navbar></navbar></div>
<div class="col-xs-12 col-sm-12 hidden-md hidden-lg"><navbar2></navbar2></div>
<!-- <div class="col-xs-12"><navbar2></navbar2></div> -->

<div class="col-xs-12 col-md-10">
<!-- <div class="col-xs-12"> -->

    <section id="SoloExhibitions" class="group">
        <h3>Exhibitions</h3>
        <div ng-repeat="exhibition in soloExhibitions" id="{{exhibition.key}}"><h2>{{exhibition.title}}</h2>
            <div ng-repeat="image in exhibition.images" class="subgroup" >
                <div class="imagecaption">
                {{exhibition.title}}, {{exhibition.caption}}
                </div>
                <img ng-src="{{image}}"/>
            </div>
        </div>
    </section>

    <section id="Installations" class="group">
        <h3>Installations</h3>
        <div ng-repeat="installation in installations" id="{{installation.key}}"><h2>{{installation.title}}</h2>
            <div ng-repeat="image in installation.images" class="subgroup">
                <div class="imagecaption">
                {{installation.title}}, {{installation.caption}}
                </div>
                <img ng-src="{{image}}"/>
            </div>
        </div>
    </section>

    <section id="VideoProjects" class="group">
        <h3>Video Projects</h3>
        <div ng-repeat="video in videos" id="{{video.key}}" class="videoContainer"><h2>{{video.title}}</h2>
            <div ng-repeat="image in video.images" class="subgroup">
                <div class="imagecaption">
                {{video.title}}, {{video.caption}}
                </div>
                <vimeo-video player-id="0{{video.key}}" video-url="image" player-width="640" player-height="360"></vimeo-video>
            </div>
        </div>
    </section>
    <section id="Info" class="group">
        <h3>Info</h3>
        <div id="CV">
            <h2>CV</h2>
            <div class="subgroup2">
                <img src="/images/cv-art.png"/>
            </div>
        </div>
        <div id="News" class="group">
            <h2>News</h2>
            <div class="subgroup">
                <span><strong>Suckstract 3</strong> Group exhibition at Kunstverein Konstanz. February 27 - April 24, 2016.</span><br><br>

                <span><strong>Crossed Signals</strong> Solo exhibition at Keith, Schillerpromenade 2, Berlin. October 23 - November 18, 2015.</span><br><br>

                <span><strong>-Ndo</strong> Group exhibition at Museo Jorge Rando, Malaga. April - August 2015</span><br><br>

                <span><strong>Counterpoint</strong> solo exhibition at Mark Moore Gallery. February 19 - March 21 2015</span><br><br>

                <span><strong>Artist talk</strong> at the Weisman Museum at Pepperdine University in Malibu, CA. February 12, 2015</span><br><br>

                <span><strong>January</strong> Group show at Mixed Greens, Jan 12 - Feb 14, 2015</span><br><br>

            </div>
        </div>
    </section>

   <!--  <section id="CV" class="group">
        <h3>CV</h3>
        <div class="subgroup2">
            <img src="/images/cv-art.png"/>
        </div>
    </section>

    <section id="News" class="group">
        <h3>News</h3>
        <div class="subgroup">
        <span><strong>Suckstract 3</strong> Group exhibition at Kunstverein Konstanz. February 27 - April 24, 2016.</span><br><br>

        <span><strong>Crossed Signals</strong> Solo exhibition at Keith, Schillerpromenade 2, Berlin. October 23 - November 18, 2015.</span><br><br>

        <span><strong>-Ndo</strong> Group exhibition at Museo Jorge Rando, Malaga. April - August 2015</span><br><br>

        <span><strong>Counterpoint</strong> solo exhibition at Mark Moore Gallery. February 19 - March 21 2015</span><br><br>

        <span><strong>Artist talk</strong> at the Weisman Museum at Pepperdine University in Malibu, CA. February 12, 2015</span><br><br>

        <span><strong>January</strong> Group show at Mixed Greens, Jan 12 - Feb 14, 2015</span><br><br>

        </div>
    </section> -->



</div>



