<div class="col-xs-2"><navbar></navbar></div>
<div class="col-xs-10">

	<section id="Exhibitions" class="group" bs-affix-target>
	    <h3>Exhibition Views</h3>
	    <div id="SoloExhibitions" class="subgroup" bs-affix-target>
	        <h4>Solo Exhibitions</h4>
	        <div ng-repeat="exhibition in soloExhibitions | orderBy: exhibition.dates.year">
	        	<div id="{{exhibition.title}}">{{exhibition.title}}</div>
	    	</div>
	    </div>
	    <div id="GroupExhibitions" class="subgroup" bs-affix-target>
	        <h4>Group Exhibitions</h4>
	        <div ng-repeat="exhibition in groupExhibitions | orderBy: exhibition.dates.year">
	        	<div id="{{exhibition.title}}">{{exhibition.title}}</div>
	    	</div>
	    </div>
	</section>

	<section id="Paintings" class="group" bs-affix-target>
	    <h3>Paintings</h3>
	    <div id="LargePaintings" class="subgroup" bs-affix-target>
	        <h4>Large Paintings</h4>
	        <div ng-repeat="year in largePaintings.years">
	        	<div id="{{year}}">{{year}}
	        		<div ng-repeat="painting in largePaintings | filter: year">{{painting.title}}</br>
	        		<img src="{{painting.image}}"/>
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <div id="SmallPaintings" class="subgroup" bs-affix-target>
	        <h4>Small Paintings</h4>
	    </div>
	</section>

	<section id="WorksOnPaper" class="group" bs-affix-target>
	    <h3>Works On Paper</h3>
	    <div id="Silkscreen" class="subgroup" bs-affix-target>
	        <h4>Silkscreen</h4>
	    </div>
	    <div id="Etchings" class="subgroup" bs-affix-target>
	        <h4>Etchings</h4>
	    </div>
	    <div id="PaintingsPaper" class="subgroup" bs-affix-target>
	        <h4>Paintings On Paper</h4>
	    </div>
	</section>

	<section id="Installations" class="group" bs-affix-target>
	    <h3>Installations</h3>
	</section>
	<section id="VideoProjects" class="group" bs-affix-target>
	    <h3>Video Projects</h3>
	</section>
	<section id="Texts" class="group" bs-affix-target>
	    <h3>Texts</h3>
	</section>
	<section id="CV" class="group" bs-affix-target>
	    <h3>CV</h3>
	</section>
	<section id="News" class="group" bs-affix-target>
	    <h3>News</h3>
	</section>
	<section id="Contact" class="group" bs-affix-target>
	    <h3>Contact</h3>
	</section>
</div>

