* {
  box-sizing: border-box;
}

body {
  background-image: url("/images/bodybackground.jpg");
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';


